  <header>
    <div class="container">
      <br>
      <p>Use the form below to search for houses to buy. You can search by place-name, postcode, or click 'My location', to search in your current location</p>
      <hr>
      <div class="row">
        <div class="col-xs-6">
          <!-- Search form -->
          <form action="#" method="GET" role="form">
            <div class="form-group row">
              <div class="col-xs-12">
                <!-- @TODO: Make as country object -->
                <div class="form-group">
                  <select name="country">
                    <option value="UK" selected="selected">UK</option>
                    <option value="Australia">Australia</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Deutschland">Deutschland</option>
                    <option value="España">España</option>
                    <option value="France">France</option>
                    <option value="India">India</option>
                    <option value="Italia">Italia</option>
                    <option value="Mexico">Mexico</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Property"
                  ng-model="place">
                </div>
              </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning"
                    ng-click="getLocationData(place)">Go</button>
                <button type="button" class="btn btn-default"
                    ng-click="getLocationData('Oxford')">My location</button>
            </div>
          </form>
          
          <!-- Alert box -->
          <div class="bg-danger"
              ng-show="searchError">There are was a problem with your search.
          </div>
  
          <!-- Result search area -->
          <div class="panel panel-default"
               ng-hide="boolStatusCode">
            <div class="panel-body">
              <ul>
                <li 
                  ng-repeat="location in locations">
                    <a href="#" ng-click="showResult()">{{ location.title }} ({{ totalResults }})</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Content area -->
  <section class="container">
    <!-- Result list -->
    <div class="panel panel-default"
        ng-show="bollShowResult">
      <div class="panel-body">
        <!-- Pagination -->
        <pagination></pagination>
        <!-- Property list -->
        <ul class="property-list">
          <li class="row"
              ng-repeat="property in listings">
              <div class="col-xs-4">
                <img ng-src="{{ property.img_url }}" alt="">
              </div>
              <div class="col-xs-8">
                <h3><a href="{{ property.lister_url }}" target="_blank">{{ property.lister_name }}</a></h3>
                <p>
                  <a href="{{ property.lister_url }}" class="btn btn-primary">{{ property.price | currency}}</a>
                </p>
                <p>
                  <span class="label label-default">{{ property.bedroom_number }} Bed<span ng-if="property.bedroom_number > 1">s</span></span>
                  &nbsp;
                  <span ng-if="property.property_type !== ''">
                    <span class="label label-default">{{ property.property_type }}</span>
                    &nbsp;
                  </span>
                  <span ng-if="property.property_keyworlds !== ''">
                    <span class="label label-default">{{ property.keywords }}</span>
                    &nbsp;
                  </span>
                </p>
                <p>{{ property.summary }}</p>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
